@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.left-toolbar__container {
  box-sizing: border-box;
  height: 100%;
  width: 25.6rem;
  height: calc(100vh - 6.4rem);
  overflow: auto;
  border-right: 0.1rem solid $WhiteDotTwo;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: 0.2s;

  .left-toolbar__element {
    box-sizing: border-box;
    width: 100%;
    height: 4.8rem;
    display: flex;
    align-items: center;

    button {
      box-sizing: border-box;
      min-width: 0;
      width: 100%;
      height: 100%;
      padding-right: 0;
      justify-content: left;
      padding-left: 1rem;

      .element__name {
        @include textLato(700, 1.4rem);
        padding-left: 1.6rem;
      }
    }
  }

  .click--none {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background: $WhiteDotOne;

    mat-icon {
      opacity: 0.6;
    }

    .element__name {
      opacity: 0.6;
      padding-left: 1.6rem;
      @include textLato(700, 1.4rem);
    }
  }
}
