<div class="editor">
    <div class="editor__types">
        <button 
            *ngFor="let type of editorNames"  
            class="editor__type customBtn" 
            [ngClass]="{'active': type === editorName}"
            (click)="changeEditor(type)" 
        >{{ type }}</button>
    </div>
    <div class="editor__outlet" [ngSwitch]="editorName">
        <app-tile-editor-training [tileToEdit]="tileToEdit" *ngSwitchCase="'training'"></app-tile-editor-training>
        <app-tile-editor-diet [tileToEdit]="tileToEdit" *ngSwitchCase="'diet'"></app-tile-editor-diet>
        <app-tile-editor-question [tileToEdit]="tileToEdit" *ngSwitchCase="'question'"></app-tile-editor-question>
    </div>
</div>
