@import "../../shared/styles/colors";
@import "../../shared/styles/mixins";

.editor {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;

  &__types {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 5.6rem;
    border-bottom: 0.1rem solid $WhiteDotTwo;
  }

  &__type {
    @include textRaleway(400, 1.4rem);
    text-transform: uppercase;
    padding: 1.2rem;
  }

  .active {
    font-weight: 800;
  }

  &__outlet {
    width: 100%;
  }
}
