.creator {
  &__btns {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    height: 36px;
    padding: 0 12px;
    margin-left: 12px;
  }
}
