<form class="creator" [formGroup]="calendarCreatorForm">
    <div class="customForm">
        <input #input class="customForm__input" id="training_plan_name" type="text" formControlName="training_plan_name" required>
        <label class="customForm__label" for="training_plan_name">Training plan Name</label>
        <!-- <p [hidden]="training_plan_name.invalid && training_plan_name.touched" class="customForm__error">This field is required</p> -->
    </div>
    <div class="customForm">
        <input #input class="customForm__input" type="date" id="date_from" formControlName="date_from" required>
        <label class="customForm__label" for="date_from">Training plan start</label>
        <!-- <p [hidden]="training_plan_name.invalid && training_plan_name.touched" class="customForm__error">This field is required</p> -->
    </div>
    <div class="customForm">
        <input #input class="customForm__input" type="date" id="date_to" formControlName="date_to" required>
        <label class="customForm__label" for="date_to">Training plan end</label>
        <!-- <p [hidden]="training_plan_name.invalid && training_plan_name.touched" class="customForm__error">This field is required</p> -->
    </div>
    <div class="customForm">
        <select #input class="customForm__input" id="training_sesion_number" formControlName="training_sesion_number">
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
        </select>
        <label class="customForm__label" for="training_sesion_number">Sesions number</label>
        <!-- <p [hidden]="training_sesion_number.valid && training_sesion_number.pristine" class="customForm__error">This field is required</p> -->
    </div>

    <div class="creator__btns">
        <button (click)="createTrainingPlan()" type="button" [disabled]="!calendarCreatorForm.valid"  class="creator__btn customBtn">Create</button>
    </div>
</form>
