<div class="openedday">
    <h1 class="openedday__header">{{(day$ | async).date | date: "MMMM dd yyyy"}}</h1>
    <div class="openedday__sessions">
        <div *ngIf="(isTilesLoading$ | async)"  class="openedday__spinner">
            <app-spinner></app-spinner>
        </div>
        <div *ngFor="let session of sessionArray; let i = index"  class="openedday__session">
            <h4 class="openedday__session-header">Training session {{i +1}}</h4>
            <div 
                cdkDropList 
                [cdkDropListData]="session" 
                [cdkDropListConnectedTo]="['tileCollection']" 
                (cdkDropListDropped)="drop($event, i)" 
                class="openedday__drop-container"
                id="{{ 'list' + i}}">
                <app-tile  [isInTileCollection]="false" [tile]="element.tile" [association]="element.association"  *ngFor="let element of session" ></app-tile>
            </div>
            <div *ngIf="!(isWeb$ | async)"  class="openedday__handset-btns">
                <button class="info__btn customBtn" (click)="addTile()">
                    <i class="material-icons">add_circle_outline</i>Add tile
                </button>
            </div>
        </div>
    </div>
</div>
