@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/mixins";

.openedday {
  box-sizing: border-box;
  width: 100%;
  //   background: rgba($color: #000000, $alpha: 0.02);
  margin: 12px 0;
  padding: 12px;
  border-radius: 4px;
  @include boxShadow();

  &__header {
    height: 48px;
    margin: 0;
    @include textRaleway(800, 16px);
    color: $fontWhiteMediumContrast;
    text-transform: uppercase;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid $WhiteDotTwo;
    border-top: 1px solid $WhiteDotTwo;
  }

  &__sessions {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $fontBlackHighContrast;
  }

  &__session {
    box-sizing: border-box;
    min-height: 196px;
    min-width: 308px;
    // width: 100%;
    margin: 6px;
    padding: 0 12px 12px;
    background: $WhiteDotOne;
    border-radius: 4px;
  }

  &__session-header {
    @include textLato(400, 16px);
    color: $fontWhiteLowContrast;
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin: 0 0 6px;
    text-align: center;
    border-bottom: 1px solid $WhiteDotTwo;
  }

  &__drop-container {
    width: 100%;
    height: calc(100% - 36px);
    min-height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
