<div class="tile-editor" [formGroup]="tileTraining" >
    <div class="tile-editor__form-element">
        <h2 class="tile-editor__header">Tile Name</h2>
        <div class="customForm">
            <input #input class="customForm__input" id="tile_title" type="text" formControlName="tile_title" required>
            <label class="customForm__label" for="tile_title">name</label>
            <p [hidden]="tileTraining.get('tile_title').valid || tileTraining.get('tile_title').untouched" class="customForm__error">This field is required</p>
        </div>
    </div>

    <div class="tile-editor__form-array" formArrayName="tile_activities">
        <div *ngFor="let group of tileTraining.get('tile_activities')['controls']; let i = index" class="tile-editor__form-group" [formGroupName]="i">
            <div class="tile-editor__form-element">
                <h2 class="tile-editor__header">Activity {{ i + 1 }}
                    <button (click)="toggleForm(i)" #expandBtn class="customBtn tile-editor__btn-expand"><i class="material-icons">keyboard_arrow_down</i></button>
                </h2>
                <div class="customForm">
                    <input #input class="customForm__input" id="tile_activity_name-{{i}}" type="text" formControlName="tile_activity_name" >
                    <label class="customForm__label" for="tile_activity_name-{{i}}">push-ups, interval run...</label>
                </div>
            </div>
            <div #formToExpand class="tile-editor__hidden-form">
                <div class="tile-editor__form-element">
                    <h2 class="tile-editor__header">how many reps?</h2>
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_reps-{{i}}" type="number" formControlName="tile_activity_reps" >
                        <label class="customForm__label" for="tile_activity_reps-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">choose activity unit</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_unit-{{i}}" formControlName="tile_activity_unit">
                            <option *ngFor="let unit of unitsArray"  [value]="unit">{{unit}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_unit-{{i}}">unit</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_amount-{{i}}" type="number" formControlName="tile_activity_amount" >
                        <label class="customForm__label" for="tile_activity_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">choose intensity</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_intensity-{{i}}" formControlName="tile_activity_intensity">
                            <option *ngFor="let intensity of intensityArray"  [value]="intensity">{{intensity}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_intensity-{{i}}">unit</label>
                    </div>
                </div> 
                    <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_intensity_amount-{{i}}" type="number" formControlName="tile_activity_intensity_amount" >
                        <label class="customForm__label" for="tile_activity_intensity_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">add rest</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_rest_unit-{{i}}" formControlName="tile_activity_rest_unit">
                            <option *ngFor="let unit of unitsArray"  [value]="unit">{{unit}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_rest_unit-{{i}}">unit</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_rest_amount-{{i}}" type="number" formControlName="tile_activity_rest_amount" >
                        <label class="customForm__label" for="tile_activity_rest_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">add rest intensity</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_rest_intensity-{{i}}" formControlName="tile_activity_rest_intensity">
                            <option *ngFor="let intensity of intensityArray"  [value]="intensity">{{intensity}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_rest_intensity-{{i}}">unit</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_rest_intensity_amount-{{i}}" type="number" formControlName="tile_activity_rest_intensity_amount" >
                        <label class="customForm__label" for="tile_activity_rest_intensity_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <h2 class="tile-editor__header">notes</h2>
                    <div class="customForm">
                        <textarea #input class="customForm__input customForm__textarea" id="tile_activity_note-{{i}}" formControlName="tile_activity_note"></textarea>
                        <label class="customForm__label" for="tile_activity_note-{{i}}">notes</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">add rest after activity</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_rest_after_activity_unit-{{i}}" formControlName="tile_activity_rest_after_activity_unit">
                            <option *ngFor="let unit of unitsArray"  [value]="unit">{{unit}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_rest_after_activity_unit-{{i}}">unit</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_rest_after_activity_amount-{{i}}" type="number" formControlName="tile_activity_rest_after_activity_amount" >
                        <label class="customForm__label" for="tile_activity_rest_after_activity_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <h2 class="tile-editor__header">add rest intensity</h2>
                    <div class="customForm">
                        <select #input class="customForm__input" id="tile_activity_rest_after_activity_intensity-{{i}}" formControlName="tile_activity_rest_after_activity_intensity">
                            <option *ngFor="let intensity of intensityArray"  [value]="intensity">{{intensity}}</option>
                        </select>
                        <label class="customForm__label" for="tile_activity_rest_after_activity_intensity-{{i}}">unit</label>
                    </div>
                </div>
                <div class="tile-editor__form-element">
                    <div class="customForm">
                        <input #input class="customForm__input" id="tile_activity_rest_after_activity_intensity_amount-{{i}}" type="number" formControlName="tile_activity_rest_after_activity_intensity_amount" >
                        <label class="customForm__label" for="tile_activity_rest_after_activity_intensity_amount-{{i}}">amount</label>
                    </div>
                </div>
                <div class="tile-editor__form-element border--off">
                    <button class="customBtn tile-editor__btn margin--top margin--left" (click)="removeActivity(i)" >remove activity</button>
                </div>
            </div>
            
      
            
        </div>
    </div>
    
    <div class="tile-editor__form-element">
        <button class="customBtn tile-editor__btn margin--top" (click)="addActivity()" >Add next activity</button>
    </div>
    
    <div class="tile-editor__form-element">
        <h2 class="tile-editor__header">how many sets?</h2>
        <div class="customForm">
            <input #input class="customForm__input" id="tile_activities_sets" type="number" formControlName="tile_activities_sets" >
            <label class="customForm__label" for="tile_activities_sets">amount</label>
        </div>
    </div>
    <div class="tile-editor__form-element border--off">
        <h2 class="tile-editor__header">add rest between sets</h2>
        <div class="customForm">
            <select #input class="customForm__input" id="tile_activities_sets_rest_unit" formControlName="tile_activities_sets_rest_unit">
                <option *ngFor="let intensity of intensityArray"  [value]="intensity">{{intensity}}</option>
            </select>
            <label class="customForm__label" for="tile_activities_sets_rest_unit">unit</label>
        </div>
    </div>
    <div class="tile-editor__form-element">
        <div class="customForm">
            <input #input class="customForm__input" id="tile_activities_sets_rest_ammount" type="number" formControlName="tile_activities_sets_rest_ammount" >
            <label class="customForm__label" for="tile_activities_sets_rest_ammount">amount</label>
        </div>
    </div>
    <div class="tile-editor__form-element border--off">
        <h2 class="tile-editor__header">set rest intensity</h2>
        <div class="customForm">
            <select #input class="customForm__input" id="tile_activities_sets_rest_intensity_unit" formControlName="tile_activities_sets_rest_intensity_unit">
                <option *ngFor="let intensity of intensityArray"  [value]="intensity">{{intensity}}</option>
            </select>
            <label class="customForm__label" for="tile_activities_sets_rest_intensity_unit">unit</label>
        </div>
    </div>
    <div class="tile-editor__form-element">
        <div class="customForm">
            <input #input class="customForm__input" id="tile_activities_sets_rest_intensity_ammount" type="number" formControlName="tile_activities_sets_rest_intensity_ammount" >
            <label class="customForm__label" for="tile_activities_sets_rest_intensity_ammount">amount</label>
        </div>
    </div>

    <div class="tile-editor__form-element">
        <h2 class="tile-editor__header">Description</h2>
        <div class="customForm">
            <textarea #input class="customForm__input customForm__textarea" id="tile_description" formControlName="tile_description"></textarea>
            <label class="customForm__label" for="tile_description">you can add comments about the entire tile</label>
        </div>
    </div>
    <div class="tile-editor__form-element border--off">
        <h2 class="tile-editor__header">Finish tile</h2>
        <div class="tile-editor__btns">
            <button class="customBtn tile-editor__btn" [ngClass]="{'btn--disabled': !tileTraining.valid}" (click)="createTile()" >Create <span *ngIf="tileToEdit">new tile</span></button>
            <button class="customBtn tile-editor__btn" [ngClass]="{'btn--disabled': !tileTraining.valid}" (click)="updateTile()" >Update</button>
        </div>
    </div>
</div>





