@import "../../../styles/colors";
@import "../../../styles/mixins";

.row__container {
  box-sizing: border-box;
  border-bottom: 1px solid $WhiteDotTwo;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .row__value {
    min-width: 84px;
    text-align: center;

    p {
      margin: 0;
      width: 100%;
      text-align: left;
      @include textLato(700, 14px);
      color: $fontWhiteMediumContrast;
    }

    .row__icon {
      color: $fontWhiteMediumContrast;
    }

    .inactive {
      color: $WhiteDotThree;
    }
  }
}

.background--active {
  background: $WhiteDotOne;
}
