@import "../../styles/colors";
@import "../../styles/mixins";

.table__container {
  box-sizing: border-box;
  margin: 0 1rem;

  .table__legend {
    box-sizing: border-box;
    width: 100%;
    height: 5.6rem;
    border-bottom: 0.1rem solid $WhiteDotTwo;
    display: flex;
    justify-content: space-around;

    .table__column-name {
      padding: 0;
      margin: 0;
      line-height: 5.6rem;
      @include textLato(400, 1.2rem);
      text-transform: uppercase;
      cursor: pointer;
    }

    .sort--active {
      @include textLato(700, 1.2rem);
    }
  }

  .table__body {
    app-table-row {
      cursor: pointer;
    }
  }
}
