@import "./shared/styles/colors";
@import "./shared/styles/mixins";

.main {
  max-width: 144rem;
  margin: 0 auto;
  height: calc(100vh - 6.4rem);

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  &__outlet {
    height: calc(100vh - 6.4rem);
    padding: 0 0 0 1rem;
    // overflow: auto;
    overflow-y: scroll;
  }
}
