@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.right-toolbar__container {
  height: calc(100vh - 6.4rem);
  width: 32.4rem;
  overflow: auto;
  border-left: 0.1rem solid $WhiteDotTwo;
}
