@import "./colors";
@import "./mixins";

.customBtn {
  background: none;
  border: none;
  min-height: 2.4rem;
  min-width: 2.4rem;
  z-index: 100;
  display: block;
  @include textRaleway(400, 1.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 0.2rem;

  i {
    color: $fontWhiteMediumContrast;
    font-size: 2.4rem;
  }
}

.customBtn:hover {
  -webkit-box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
  box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.26);
}

.customBtn:active {
  -webkit-box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  box-shadow: 0rem 0rem 1.2rem 0.2rem rgba(0, 0, 0, 0.26);
  border: none;
  background: $WhiteDotOTwo;
}

.customBtn:focus {
  border: none;
  outline: none;
}
