/*-----FONT COLORS------*/

$fontBlackHighContrast: rgba(255, 255, 255, 0.57);
$fontBlackMediumContrast: rgba(255, 255, 255, 0.67);
$fontBlackLowContrast: rgba(255, 255, 255, 0.87);

$fontWhiteHighContrast: rgba(0, 0, 0, 0.47);
$fontWhiteMediumContrast: rgba(0, 0, 0, 0.67);
$fontWhiteLowContrast: rgba(5, 2, 2, 0.77);
$fontWhiteBright: rgba(0, 0, 0, 0.85);

/*-----Kolory Elementów------*/

$WhiteDotFour: rgba(0, 0, 0, 0.37);
$WhiteDotThree: rgba(0, 0, 0, 0.27);
$WhiteDotTwo: rgba(0, 0, 0, 0.17);
$WhiteDotOne: rgba(0, 0, 0, 0.07);

$BlackDotTwo: rgba(255, 255, 255, 0.17);
$BlackDotOne: rgba(255, 255, 255, 0.07);

$BlackBg: rgba(255, 255, 255, 0.05);
$BlackBgLight: rgba(255, 255, 255, 0.03);

$brightYellow: #e8a022;
$lighterBrightYellow: #ebb72b;

$brightRed: #ff5d51;
$darherBrightRed: #f64535;

$brightGreen: #88c540;
$darkerBrightGreen: #63a12e;

$brightBlue: #31c2e1;
$darkerBrightBlue: #259cb2;

$brightViolet: #614ea1;
$darkerBrightViolet: #4e4091;

$ErrorYellow: #b0aa54;

$greenInput: #608490 30%;

$mainGreen: #f3f3f3;
$mainGreenDarkL: #223940;
$mainGreenDark: #052e39;
$mainGreenDarkB: #27414a;
$mainGreenLight: #d8d8d8;
$mainGreenLightBright: #dedede;

$ScrollGreenBright: rgba(5, 46, 57, 0.1);
$ScrollGreen: rgba(5, 46, 57, 0.6);
$ScrollGreenDark: rgba(5, 46, 57, 0.9);

$mainGreenFade: rgba(255, 255, 255, 0.7);
