@import "./colors";
@import "./mixins";

.tile-editor {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;

  &__form-group {
    box-sizing: border-box;
    background: $WhiteDotOTwo;
    padding: 0.6rem 0.6rem 1.2rem 0.6rem;
    margin: 1rem 0 2.4rem;
    border-radius: 0.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include boxShadowPreview();
  }

  &__hidden-form {
    max-height: 0rem;
    overflow: hidden;
    transition: 1s;
  }

  .opened {
    max-height: 200rem;
  }

  &__form-element {
    width: 100%;
    border-bottom: 0.1rem solid $WhiteDotTwo;
  }

  &__header {
    margin: 0;
    height: 4.2rem;
    line-height: 4.2rem;
    text-align: center;
    @include textRaleway(800, 1.6rem);
    text-transform: uppercase;
    color: $fontWhiteHighContrast;
    position: relative;
  }

  &__btns {
    width: 100%;
    display: flex;
  }

  &__btn {
    min-width: 6.4rem;
    height: 3.6rem;
    margin-bottom: 2.4rem;
    margin-right: 1.2rem;
    background: $WhiteDotOTwo;
    font-weight: 800;
    color: $fontWhiteMediumContrast;
    padding: 0.1rem 1.2rem;
  }

  .btn--disabled {
    color: $WhiteDotThree;
  }

  &__btn-expand {
    position: absolute;
    right: 0;
    top: 0.3rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    transition: 0.5s;
  }

  .border--off {
    border: none;
  }

  .margin--top {
    margin-top: 2.4rem;
  }

  .margin--left {
    margin-left: 1.2rem;
  }
}
