@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.info {
  box-sizing: border-box;
  width: 100%;
  height: 5.6rem;
  border-bottom: 0.1rem solid $WhiteDotTwo;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__title {
    margin: 0;
    @include textRaleway(800, 1.6rem);
    text-transform: uppercase;
  }

  &__btn-container {
    position: absolute;
    right: 0.6rem;
    width: 3.6rem;
    height: 3.6rem;
  }

  &__btn {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
  }
}
