<div class="nav">
  <div class="nav__container-center">
    <div class="nav__subcontainer position--left">
      <div class="nav__burger">
        <button mat-button class="customBtn nav__btn" (click)="toggleLeftMenu()">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="nav__logo"></div>
    </div>
    <div class="nav__subcontainer position--right">
      <div class="nav__upgrade"></div>
      <div class="nav__notification"></div>
      <div class="nav__setting">
        <button mat-button class="customBtn nav__btn" (click)="openMenu($event)">
          <i class="material-icons">settings</i>
        </button>
        <ng-template #button_menu></ng-template>
      </div>
    </div>
  </div>
</div>
