<div class="nav__container">
  <div class="container-center">
    <div class="nav__subcontainer position--left">
      <div class="nav__burger">
        <button mat-button (click)="toggleLeftMenu()">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <div class="nav__logo"></div>
    </div>
    <div class="nav__subcontainer position--right">
      <div class="nav__upgrade"></div>
      <div class="nav__notification"></div>
      <div class="nav__setting"></div>
    </div>
  </div>
</div>
